body {
	position: relative;
	width: 414px;
	height: 2208px;

	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FEF8EF;
}

.font1{
	font-family: 'Cuprum', sans-serif;
}
.font2{
	font-family: 'Russo One', sans-serif;
}

.image1 {
	position: absolute;
	width: 260px;
	height: 329px;
	left: 154px;
	top: 0px;


}
.image2 {
	position: absolute;
	width: 133px;
	height: 537px;
	left: -5px;
	top: 736px;


}
.image3 {
	position: absolute;
	width: 176px;
	height: 391px;
	left: 258px;
	top: 1827px;
}
.image4 {
	position: absolute;
	width: 158px;
	height: 145px;
	left: 5px;
	top: 1210px;

}
.image5 {
	position: absolute;
	width: 87px;
	height: 94px;
	left: 12px;
	top: 1318px;


}
.image6 {
	position: absolute;
	width: 87px;
	height: 186px;
	left: 366px;
	top: 1138px;


}
.image7 {
	position: absolute;
	width: 198px;
	height: 181px;
	left: 5px;
	top: 1825px;
}
.image8{
	position: absolute;
	width: 227px;
	height: 127px;
	left: 21px;
	top: 100px;
}

.image9 {
	position: absolute;
	width: 190px;
	height: 97px;
	left: 107px;
	top: 255px;
}
.image10 {
	position: absolute;
	width: 190px;
	height: 70px;
	left: 127px;
	top: 1304px;
}
.image11 {
	position: absolute;
	width: 182,5px;
	height: 300px;
	left: 248px;
	top: 1500px;
}
.image12 {
	position: absolute;
	width: 45px;
	height: 30px;
	left: 370.5px;
	top: 1739px;
}
.image13 {
	position: absolute;
	width: 356px;
	height: 131px;
	left: 36px;
	top: 382px;
}
.image14 {
	position: absolute;
	width: 356px;
	height: 131px;
	left: 36px;
	top: 498px;
}
.image15 {
	position: absolute;
	width: 356px;
	height: 131px;
	left: 36px;
	top: 614px;
}
.image16 {
	position: absolute;
	width: 156px;
	height: 68px;
	left: 184px;
	top: 760px;
}
.image17 {
	position: absolute;
	width: 208px;
	height: 40px;
	left: 158px;
	top: 830px;
}
.image18 {
	position: absolute;
	width: 208px;
	height: 40px;
	left: 158px;
	top: 885px;
}
.image19 {
	position: absolute;
	width: 208px;
	height: 40px;
	left: 158px;
	top: 940px;
}
.image20 {
	position: absolute;
	width: 208px;
	height: 40px;
	left: 158px;
	top: 995px;
}
.image21 {
	position: absolute;
	width: 208px;
	height: 40px;
	left: 158px;
	top: 1050px;
}
.image22 {
	position: absolute;
	width: 208px;
	height: 40px;
	left: 158px;
	top: 1105px;
}
.image23 {
	position: absolute;
	width: 195px;
	height: 68px;
	left: 28px;
	top: 1468px;

}
.image24 {
	position: absolute;
	width: 295px;
	height: 40px;
	left: -23px;
	top: 1540px;
}
.image25 {
	position: absolute;
	width: 295px;
	height: 40px;
	left: -23px;
	top: 1595px;
}

.image26 {
	position: absolute;
	width: 295px;
	height: 40px;
	left: -23px;
	top: 1650px;
}
.image27 {
	position: absolute;
	width: 295px;
	height: 39px;
	left: -23px;
	top: 1705px;
}
.image28 {
	position: absolute;
	width: 295px;
	height: 40px;
	left: -23px;
	top: 1760px;
}
.image29 {
	position: absolute;
	width: 205px;
	height: 232px;
	left: 248px;
	top: 1278px;
}
.image30 {
	position: absolute;
	width: 471px;
	height: 275px;
	left: 88px;
	top: 1790px;
}
.image31 {
	position: absolute;
	width: 370px;
	height: 64px;
	left: 14px;
	top: 2142px;
}
.image32 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 93px;
	top: 1911px;
}
.image33 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 41px;
	top: 1905px;
}
.image34 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 93px;
	top: 1866px;
}
.image35 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 41px;
	top: 1866px;
}
.image36 {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 307px;
	top: 423px;
}
.image37 {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 307px;
	top: 538px;
}
.image38{
	position: absolute;
	width: 35px;
	height: 35px;
	left: 310px;
	top: 653px;
}
.image39 {
	position: absolute;
	width: 209px;
	height: 75px;
	left: 122px;
	top: 1201px;
}

.nav {
	position: relative;
    display: inline-block;
}
.nav ul {
	position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 18px;
    padding: 0px 0px;

}
.nav ul li {
list-style: none;
float: right;
margin: 0 0px;
}

.t3 {
	position: relative;
    display: inline-block;
}	

.nav a: hover {
    color: #FF5209;
    text-decoration: underline;
    }

.niz {
	position: relative;
    display: inline-block;
}
.niz ul {
	position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 18px;
    padding: 3px 5px;

}
.niz ul li {
list-style: none;
float: left;
margin: 0 50px;
}
.niz a: hover {
    color: #FF5209;
    text-decoration: underline;
    }